.page_body_content{ height: 1350px;background: #ededed; }
.agent_menu{ float: left; width: 210px; height: 100%; background-color: #30629d; }
.agent_menu_list{ list-style-type: none; margin: 0; padding: 0; }
.agent_menu_item{ height: 87px;cursor: pointer;margin: 0 auto;font-size: 15px;color: white;font-family:  HelveticaBlk;background: url(http://108.166.190.172:81/RealEstate/assets/newui/top_next_last.png) no-repeat;background-position-y: bottom;background-size: 100% 100%; }
.first_list_item{font-size: 27px;color: white;font-family: bankgothic;text-align: left;}
.bottom_li_item{background: url(http://108.166.190.172:81/RealEstate/assets/newui/bottom_off.png) no-repeat;background-size: 100% 100%;}
.agent_menu_item a{ height: 85px;padding-left: 40px;height: 87px;display: table-cell; font-size: 15px;vertical-align: middle;width: 210px;text-decoration: none;color:inherit; }
.agent_menu_item:hover,.agent_menu_item.active{ color: #fd815a;background: url(http://108.166.190.172:81/RealEstate/assets/newui/on.png) no-repeat;background-size: 100% 100%; }

.agent_edit_property{width: 79.4%;height:100%;float: left;border-bottom: 1px solid #d2d2d2;}
.agent_upload_image{float: left;width:100%;height:100%;margin: 8% 0 0 2%;}
.agent_property_image{width:215px;height:150px;}
.agent_property_image_options{height: 50px;margin-top: 2%;width: 220px;}
.agent_property_more_images{width:210px;height: 100%;}
.agent_property_images_list{list-style-type: none;padding: 0;margin: 0;}
.agent_property_image_item{float:left;width:95px;height:70px;margin:1px;}
.agent_property_upload_img,.agent_property_delete_img{border: none;width: 90px;height: 30px;background: white;color: #1b70d4;font-family: arial;font-weight: bold;font-size: 9px;border-radius: 2px;}
.agent_edit_property_form{float: left;width: 63%;margin-top: 4%;}
.agent_edit_property_form label{height: 20px;color: #6b6b6b;font-size: 13px;font-family: 'arial';font-weight: bold;}
.agent_edit_property_form input[type=text],.property_textarea{font-size: 14px;color: #8e8c8c;font-family: 'arial';}
.agent_edit_property_form input[type=text]:hover,.agent_edit_property_form input[type=text]:focus,.property_textarea:focus,.property_textarea:hover{background: white;border-color: rgb(34, 113, 206);}
.edit_property_row{clear:both;height: 60px;}
.property_text_100{padding: 0 5px;border: 1px solid #dcdcdc;width: 508px;height: 25px;outline: none;}
.property_text_22{padding: 0 5px;border: 1px solid #dcdcdc;width: 133px;height: 25px;outline: none;}
.property_text_47{padding: 0 5px;border: 1px solid #dcdcdc;width: 239px;height: 25px;outline: none;}
.property_textarea{resize:none;padding: 1%;width:497px;height:99px;border: 1px solid #dcdcdc;outline: none;}
.edit_property_form_button{border: none;width: 90px;height: 30px;background: #1b70d4;color: white;font-family: arial;font-weight: bold;font-size: 18px;border-radius: 2px;}
.property_error{height:20px;width:100%;color:red;font-size: 16px;}

/* Upload image styles */
.upload_div{
    position:relative;
    width: 100px;
    height: 30px;
    overflow:hidden;
    float: left;
}

.upload_div button{position: absolute;}
.upload_div input{
    font: 500px monospace; /* make the input's button HUGE */
    opacity:0; /* this will make it transparent */
    filter: alpha(opacity=0); /* transparency for Internet Explorer */
    position: absolute;  /* making it absolute with z-index:1 will place it on top of the button */
    z-index: 1;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    padding:0;
    margin: 0;
}